/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
	height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

input {
	width: 72px;
}
#sideBar {
/*	display: none;*/
	float: left;
	width: 10%;
	height: 100%;
}
#sideBar form {
	display: none;
}
#log {
	max-height: 50%;
}
#log p {
	margin: 0;
}
#topBar {
	height: 50px;
	text-align: center;
}
#map {
	height: calc(100% - 50px);
}
#topBar .cont {
	display: inline-block;
}
#topBar .cont label {
	display: inline-block;
}
#topBar .cont select {
	max-width: 120px;
}
#markerSetUI {
	float: right;
	width: 300px;
	height: calc(100% - 50px);
	padding: 0.5em;
	box-sizing: border-box;
}
#markerSetUI select {
	width: 50px;
	margin: 0 2px;
	background: none;
	border: none;
}
#markerSetUI input {
	border: none;
	margin: 0 2px;
	background: none;
}
#markerSetUI input[type="number"] {
	width: 36px;
}
#markerSetUI input[type="radio"] {
	width: auto;
}
#markerSetUI input:hover,
#markerSetUI select:hover {
	box-shadow: 0 0 0 1px grey;
}
#markerSetUI ul {
	list-style-type: none;
	margin: 0 0 1em;
	padding-left: 1em;
}
#markerSetUI li {
	padding: 2px 4px;
}
#markerSetUI ul li:nth-child(2n + 1) {
	background: #EEF;
}
#markerSetUI ul li:nth-child(2n) {
	background: #FFF;
}
.CostLabel {
	text-shadow: 0 0 1px black, 0 0 3px white;
	font-size: 16px !important;
}
