/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
	height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

input {
	width: 60px;
}
#sideBar {
/*	display: none;*/
	float: left;
	width: 10%;
	height: 100%;
}
#sideBar form {
	display: none;
}
#log {
	max-height: 50%;
}
#log p {
	margin: 0;
}
#topBar {
	height: 50px;
}
#map {
	height: calc(100% - 50px);
}